<h1>About Village Life!</h1>

<p>Bring your village to life online</p>
<p>We created village life to help people connect over things that matter where they live.</p>
<p>Life can seem pretty dull - but there's usually something going on nearby.  We're hoping to help you connect with what's going on in your neighbourhood.</p>
<ol>
	<li>Whats on?</li>
	<li>Whats coming up?</li>
	<li>When's the next quiz night?</li>
	<li>Poll other members on important topics</li>
	<li>Share important matters</li>
	<li>What do people need to know about your town?</li>
</ol>