<h1>Welcome to Village Life!</h1>
<p>Sign up here.</p>

<p>Bring your village to life online</p>

<ol>
	<li>Whats on</li>
	<li>Whats coming up?</li>
	<li>When's the next quiz night?</li>
	<li>Poll other members on important topics</li>
</ol>

